@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaBold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: "Gobold"; src: url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.eot"); src: url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.woff") format("woff"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.svg#Gobold") format("svg"); }
@font-face {font-family: "Gobold Hollow"; src: url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.eot"); src: url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.woff") format("woff"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.svg#Gobold Hollow") format("svg"); }


body{
    margin: 0;
    background-color: black;
}

.all{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.right{
    background-color: white;
    height: 100vh;
    width: 100vw;
    
}

.logo{
    padding: 4em 3em 4em 4em;
}
.logo a{
    text-decoration: none;
    font-family: 'ProximaBold';
    font-weight: bolder;
    color: white;
    font-size: 3em;
}

.logo span{
    font-size: 0.5em;
}

.menu{
    display:none;

}

.menu_mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_mobile h2{
    font-family: 'ProximaBold';
    font-weight: bolder;
    font-size: 1em;
    color: white;
    padding: 1em;
}

.dropbtn {
  background-color: black;
  font-family: 'ProximaBold';
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(37, 37, 37);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    font-family: 'proxima_nova_rgregular';
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
  
  

.members {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
}

.db {
    display: flex;
    flex-direction: column;
}


.stats{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 2em;
}

.totalUsers{
    background-image: linear-gradient(to right top, #a43fda, #00a4ff, #12d8eb);
    padding: 0.2em 10em 0.2em 1em;
    border-radius: 15px;
    margin: 2em 0em;
}

.totalUsers h3{
    font-family: 'ProximaBold';
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}

.totalUsers h2{
    font-family: 'ProximaBold';
    font-weight: bolder;
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}



.totalProducts{
    background: linear-gradient(90deg, rgba(231,199,27,1) 0%, rgba(255,139,0,1) 100%);
    padding: 0.2em 7em 0.2em 1em;
    border-radius: 15px;
    margin: 2em auto;
}

.totalProducts h3{
    font-family: 'ProximaBold';
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}

.totalProducts h2{
    font-family: 'ProximaBold';
    font-weight: bolder;
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}


.newProducts{
    background: linear-gradient(90deg, rgba(71,191,99,1) 0%, rgba(170,239,41,1) 100%);
    padding: 0.2em 1em 0.2em 1em;
    border-radius: 15px;
    margin: 2em 0em;
}

.newProducts h3{
    font-family: 'ProximaBold';
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}

.newProducts h2{
    font-family: 'ProximaBold';
    font-weight: bolder;
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}







@media (min-width: 1200px){

    .all{
        flex-direction: row;
    }
    body{
        margin: 0;
        background-color: black;
    }
    
    .all{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .right{
        background-color: white;
        height: 100vh;
        width: 72%;
        border-radius: 2.5em 0em 0em 2.5em;
        
    }
    .left{
        height: 100vh;
        width: 28%;
        margin-right: 1em;
    }
    .logo{
        padding: 4em 3em 4em 4em;
    }
    .logo a{
        text-decoration: none;
        font-family: 'ProximaBold';
        font-weight: bolder;
        color: white;
        font-size: 3.5vw;
    }
    
    .logo span{
        font-size: 1vw;
    }
    
    .menu{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5em;
    
    }
    .menu a{
        display: block;
        text-decoration: none;
        font-family: 'proxima_nova_rgregular';
        color: white;
        padding: 0.3em 1.5em;
        font-size: 1vw;
        transition: all 0.3s ease 0s;
    }
    
    .menu a:hover{
        letter-spacing: 0.2vw;
        transition: all 0.3s ease 0s;
    }
    
    .menu h2{
        font-family: 'ProximaBold';
        font-weight: bolder;
        color: white;
        font-size: 1.5vw;
    }
    
    .members {
        display: flex;
        flex-direction: column;
    }
    
    .products {
        display: flex;
        flex-direction: column;
    }
    
    .db {
        display: flex;
        flex-direction: column;
    }
    
    
    .stats{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 2em;
    }
    
    .totalUsers{
        background-image: linear-gradient(to right top, #a43fda, #00a4ff, #12d8eb);
        padding: 0.2em 12em 0.2em 1em;
        border-radius: 15px;
        margin: 2em 0em;
    }
    
    .totalUsers h3{
        font-family: 'ProximaBold';
        font-size: 1.5em;
        color: white;
        letter-spacing: 2px;
    }
    
    .totalUsers h2{
        font-family: 'ProximaBold';
        font-weight: bolder;
        font-size: 3em;
        color: white;
        letter-spacing: 2px;
    }
    
    
    
    .totalProducts{
        background: linear-gradient(90deg, rgba(231,199,27,1) 0%, rgba(255,139,0,1) 100%);
        padding: 0.2em 10em 0.2em 1em;
        border-radius: 15px;
        margin: 2em auto;
    }
    
    .totalProducts h3{
        font-family: 'ProximaBold';
        font-size: 1.5em;
        color: white;
        letter-spacing: 2px;
    }
    
    .totalProducts h2{
        font-family: 'ProximaBold';
        font-weight: bolder;
        font-size: 3em;
        color: white;
        letter-spacing: 2px;
    }
    
    
    .newProducts{
        background: linear-gradient(90deg, rgba(71,191,99,1) 0%, rgba(170,239,41,1) 100%);
        padding: 0.2em 5em 0.2em 1em;
        border-radius: 15px;
        margin: 2em 0em;
    }
    
    .newProducts h3{
        font-family: 'ProximaBold';
        font-size: 1.5em;
        color: white;
        letter-spacing: 2px;
    }
    
    .newProducts h2{
        font-family: 'ProximaBold';
        font-weight: bolder;
        font-size: 3em;
        color: white;
        letter-spacing: 2px;
    }


    .menu_mobile{
        display: none;

    }



}














@media (min-width: 2100px){

    .menu h2{
        font-size: 0.8vw;
    }

    .menu a{
        
        font-size: 0.8vw;
        
    }
}