@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaBold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: "Gobold"; src: url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.eot"); src: url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.woff") format("woff"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/480ddcdbf6e34bde73dfaed605fafcb3.svg#Gobold") format("svg"); }
@font-face {font-family: "Gobold Hollow"; src: url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.eot"); src: url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.woff") format("woff"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0aea46344363939fffde7e35f398e915.svg#Gobold Hollow") format("svg"); }






.buttons{
 margin: 2vh 5vw;

}

.buttons input[type="button"] {
  background-color: rgb(39, 39, 39);
  border: none;
  color: white;
  font-family: 'proxima_nova_rgregular';
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.7em;
}



body{
  margin: 0;
  background-color: black;
}

.all{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.right{
  background-color: white;
  height: 80vh;
  width: 100vw;
  
}

.logo{
  padding: 4em 3em 4em 4em;
}
.logo a{
  text-decoration: none;
  font-family: 'ProximaBold';
  font-weight: bolder;
  color: white;
  font-size: 3em;
}

.logo span{
  font-size: 0.5em;
}

.menu{
  display:none;

}

.menu_mobile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_mobile h2{
  font-family: 'ProximaBold';
  font-weight: bolder;
  font-size: 1em;
  color: white;
  padding: 1em;
}

.dropbtn {
background-color: black;
font-family: 'ProximaBold';
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: rgb(37, 37, 37);
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
  font-family: 'proxima_nova_rgregular';
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;

}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.right h1{
  font-family: 'Gobold';
  font-size: 10vw;
  padding: 0.3em 7vw;
}

.search{
  padding-left: 7vw;
  width: 80%;
  display: flex;
  position: relative;
}
input[type="text"] {
  width: 40vw;
border: 1em;
padding: 1.05em 2em;
height: 17px;
border-radius: 2em  ;
background-color: rgb(231, 231, 231);
outline: none;
font-family:"proxima_nova_rgregular" ;
font-size: 0.8em;
  }


 
  
   
  @media only screen and (max-width: 1700px) {
    #table-data td:nth-child(2),
    #table-data th:nth-child(2),
    #table-data td:nth-child(7),
    #table-data th:nth-child(7),
    #table-data td:nth-child(8),
    #table-data th:nth-child(8),
    #table-data td:nth-child(6),
    #table-data th:nth-child(6){display: none;}
    .table-div{
      margin-top: 5em;
  }
  
 

  table {
  
      border-spacing: 1;
      border-collapse: collapse;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      width: 90vw;
      margin:0 auto;
      position: relative;
    }
    table * {
      position: relative;
    }
    table td, table th {
      padding-left: 8px;
    }
    table thead tr {
      font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    color: #808080;
      height: 60px;
  
    }
    table tbody tr {
      height: 50px;
    }
    table tbody tr:last-child {
      border: 0;
    }
    table td, table th {
      text-align: left;
    }
    table td.l, table th.l {
      text-align: right;
    }
    table td.c, table th.c {
      text-align: center;
    }
    table td.r, table th.r {
      text-align: center;
    }
    
    
    
    tbody tr:nth-child(even) {
      background-color: #f5f5f5;
    }
    
    tbody tr {
      font-family: 'proxima_nova_rgregular';
      font-size: 15px;
      color: #808080;
      line-height: 1.2;
      font-weight: unset;
    }
    
    tbody tr:hover {
      color: #555555;
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }



@media (min-width: 1200px){
body{
    margin: 0;
    background-color: black;
}

.all{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.right{
    background-color: white;
    height: 100vh;
    width: 72%;
    border-radius: 2.5em 0em 0em 2.5em;
    
}
.left{
    height: 100vh;
    width: 28%;
    margin-right: 1em;
}
.logo{
    padding: 4em 3em 4em 4em;
}
.logo a{
    text-decoration: none;
    font-family: 'ProximaBold';
    font-weight: bolder;
    color: white;
    font-size: 3.5vw;
}

.logo span{
    font-size: 1vw;
}

.menu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5em;

}
.menu a{
    text-decoration: none;
    font-family: 'proxima_nova_rgregular';
    color: white;
    padding: 0.3em 0.5em;
    font-size: 1vw;
    transition: all 0.3s ease 0s;
}

.menu a:hover{
    letter-spacing: 0.2vw;
    transition: all 0.3s ease 0s;
}

.menu h2{
    font-family: 'ProximaBold';
    font-weight: bolder;
    color: white;
    font-size: 1.5vw;
}

.members {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
}

.db {
    display: flex;
    flex-direction: column;
}


/* ------------------------------------ */


.deleteAlert{
    font-family: "proxima_nova_rgregular";
    font-size: 1.2em;
    padding: 0.7em 7vw;
}

.btn{
    border: none;
    background-color: #e7e7e7;
    text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 5px 10px;
  font-family:"proxima_nova_rgregular" ;
  color: rgb(102, 102, 102);
  
}

.right h1{
    font-family: 'Gobold';
    font-size: 4em;
    padding: 0.7em 7vw;
}

.search{
    padding-left: 7vw;
    width: 40%;
    display: flex;
    position: relative;
}
input[type="text"] {
    width: 40%;
  border: 1em;
  padding: 1.05em 2em;
  height: 20px;
  border-radius: 2em  ;
  background-color: rgb(231, 231, 231);
  outline: none;
  font-family:"proxima_nova_rgregular" ;
  font-size: 0.8em;
    }



/* ------------------------------------ */

.table-div{
    margin-top: 5em;
}

table {

    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 57vw;
    margin:0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    color: #808080;
    height: 60px;

  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr {
    font-family: 'proxima_nova_rgregular';
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .menu_mobile{
    display: none;

}


}


@media (min-width: 2100px){

  .menu h2{
      font-size: 0.8vw;
  }

  .menu a{
      
      font-size: 0.8vw;
      
  }
}

