@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

  body{
      margin: 0em;
      
  }
.top
{
    position: sticky;
    top: 0em;
    bottom: 0em;
    
}


  header{
      margin: 0em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      background-color: #dadada;
  }

  header a{ 
    flex-grow: 1;
    text-decoration: none;
    color: #303030;
    font-family: "proxima_nova_rgbold";
    font-size: 30px;
    font-weight:bolder ;
    padding-left: 1em;
    transition: all 0.3s ease 0s;
  }

  header a:hover{
    letter-spacing: 5px;
    transition: all 0.3s ease 0s;
  }


  input[type=text]{
    flex-grow: 2;
    border: 0px;
    padding: 0.7em;
    border-radius: 2em;
    width: 20em;
    margin: auto;
    background-color: #bfbfbf;
  }

  .profile{
    width: 40px;
     margin-left: 1em;
     margin-top: 0.2em;
     margin-right: 1em;
     cursor: pointer;
     transition: all 0.3s ease 0s;
  }

  .profile:hover{
    width: 45px;
    transition: all 0.3s ease 0s;
  }


  .images{
      background-color: #dadada;
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .images img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      
      width: 150px;
      height: auto;
  }

  .sticky
  {
      position: sticky;
      top: 0em;
  }


    .name{
      display: inline-table;
      width: 100%;
      height: 100%;
    position: relative;
    padding-bottom: auto;
    background-color: #303030;
    
  }

  button{
      visibility: hidden;
  }
  .name a{
      visibility: hidden;
  }

  .favorite{
    position: absolute;
    top: 50%;
    left: 90%;
    margin-right: 0em;
    margin-left: 0em;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease 0s;
  }

  .favorite:hover{
    width: 50%; 
    height: 50%; 
    object-fit: contain; 
    transition: all 0.5s ease 0s;
  }

  .name h1{
    font-family: "proxima_nova_rgbold";
    margin-bottom: 0em;
    margin-top: -0.5em;
    font-size: 40px;
    font-weight:bolder ;
    color: white;
    
  }
  .name h4{
    font-family: "proxima_nova_rgregular";
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0.3em;
    color: white;
  }

  .cap{
      padding: 1em 2em;
  }

  .contentText{
      padding: 1em 0em;
  }

  .contentText img{
    padding-left: 2em;
    cursor: pointer;
}

  .contentText h2
  {
    font-family: "proxima_nova_rgbold";
    font-size: 30px;
    padding-left: 1em;
  }
  .contentText h5
  {
    font-family: "proxima_nova_rgregular";
    font-weight: lighter;
    font-size: 13px;
    padding-left: 1em;
    color: #777777;
  }
  

  .contentText p{
    font-family: "proxima_nova_rgregular";
    font-size: 1.3em;
    padding-left: 1.5em;
  }

  #map {
    width:100%;
    height: 50vh
  }

  .delete{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .delete input[type=submit]{
    
    text-decoration: none;
    color:white;
    font-family:'proxima_nova_rgregular';
    font-size: 0.8em;
    background:#f22c2c;
    padding:0.8em 2em;
    border-radius: 10px;
    border-style: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.delete input[type=submit]:hover{
    border-radius:0;
    background:#bf1d1d;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}


  @media (min-width : 1200px){
      
     .top{
        position: static;
      }
    
    .img-container {
      width: 60%;
      
      position: fixed;
      right: 0;
      top: 0;

    }
    .images{
        min-height: 100vh;
        padding-top: 30vh;
    }


    .name, .contentText {
      width:40%
    }

    .name{
        height: 50vh;
    }

    header a{
        visibility: hidden;
        
    }

    .name a{
        position: absolute;
        visibility: visible;
        text-decoration: none;
    color:white;
    font-family: "proxima_nova_rgbold";
    font-size: 30px;
    font-weight:bolder ;
    padding-left: 1.6em;
    top: 6%;
    transition: all 0.3s ease 0s;
    }

    .name a:hover{
      letter-spacing: 5px;
      transition: all 0.3s ease 0s;
    }

    .cap{
        position: absolute;
        top: 50%;
        left: 1%;
    }

    .favorite{
        position: absolute;
        top: 3%;
        right: 1%;
        padding-left: 1em;
    }

    .name button{
        position: absolute;
        visibility: visible;
        width: 16em;
        padding: 0.8em 1em;
        left: 3em;
        top: 25%;
        background: url(images/next.png);
        background-position: 20px 8px;
        background-repeat: no-repeat;
       
        color: white;
        border: 1px solid white;
        border-radius: 0.5em;
        font-family: "proxima_nova_rgregular";
        font-size: 0.8em;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    .name button:hover{
      color: rgb(199, 199, 199);
      letter-spacing: 0.1em;
      border-radius: 0em;
      transition: all 0.3s ease 0s;

    }

    .contentText{
        padding-right: -10em;
    }

    .contentText h2{
        font-size: 27px;
    }

    .contentText p{
        font-size: 1.3em;
        margin-right: 3em;
    }
    



    #map {
      width:100%;
      height: 50vh
    }
    


      
    }