@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    margin: 0;
    background:linear-gradient(60deg, #191919, #191919 60%, #272727 60%, #272722);
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
}

header{
    margin: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0em;
    height: 30%;
    width: 100%;
}
header .topheader{
    margin:0em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bottomheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    width: 50%;
    position: center;
}

header .logoclass
{
    flex-grow: 0.8;
    text-decoration: none;
    color: #ffffff;
    font-family: "proxima_nova_rgbold";
    font-size: 30px;
    font-weight:bolder ;
    padding-left: 1em;
}

header .button1{
    text-decoration: none;
    padding:0.3em 1.2em;
    color: #191919;
    background-color: white;
    font-family: "proxima_nova_rgbold";
    text-align: center;
    font-size: 0.7em;
    border-radius: 2em;
    padding: 1em 3em
   }

   header .profile
   {
       width: 2.5em;
   }

.search{
    padding-left: 1em;
    width: 100%;
    display: flex;
    position: relative;
}
body .contentSearch{
    background-color: white;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding:2em;
}

.usersSearch{
    display:flex;
    flex-direction: column;
    background-color: red;
}

.searchTerm{
    width: 100%;
    border: 1em;
    padding: 1em 2em;
    height: 20px;
    border-radius: 2em 0 0 2em;
    outline: none;
    font-family:"proxima_nova_rgregular" ;
    font-size: 0.8em;
  }

  .searchButton{
    width: 4em;
    height: 46px;
    border: 1px;
    text-align: center;
    background-color: #191919;
    border-radius: 0 1em 1em 0;
    cursor: pointer;
    font-size: 20px;
    background-image: url(/images/icons8-search-24.png);
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 70%;
    padding-left:15%;
    padding-right: 15%;
}

.users{
    display: flex;
    flex-direction: column;
}

.usersList{
    display:flex;
    flex-direction: row;
}
.user{
    padding-right:25px;
    text-align: center;
}

.caps{
    display: flex;
    flex-direction: column;
}

.capsList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(2,150px);
    margin:25px;
    grid-gap: 10px;
}


.cap{
    display: flex;
    flex-direction: row;
    border-style: groove;
    
    
}
.cap img{
    width:125px;
    height: 125px;
}

.button1{
    text-decoration: none;
    
    color: white;
    background-color: rgba(57, 55, 55, 0.653);
    font-family: "proxima_nova_rgbold";
    text-align: center;
    font-size: 0.7em;
    border-radius: 2em;
    padding: 0.5em 3em;
    align-content: flex-end;
}

h4,h5{
    font-family: 'proxima_nova_rgbold';
}

}
p{
    font-family: 'proxima_nova_rgregular';
}

.footerlinks{
    display:flex;
    flex-direction: row;
    justify-content: left; 
}

.footerlink{
    padding-right: 20px;
    font-family: 'proxima_nova_rgbold';
    text-decoration: none;
}